* {
font-family: 'Caskaydia Cove Nerd Font', monospace;
font-size: 22px;
}

window {
margin: 0px;
border: 1px solid #928374;
}

#input {
margin: 5px;
border: none;
color: #ebdbb2;
background-color: #1d2021;
}

#inner-box {
margin: 5px;
border: none;
background-color: #282828;
}

#outer-box {
margin: 5px;
border: none;
background-color: #282828;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #ebdbb2;
font_family: CaskaydiaCove Nerd Font;
font_size: 16px;
}

#entry:selected {
background-color: #1d2021;
}
